
<p-card header="Liste des Vidéos YouTube" class="m-3">
  <p-toast></p-toast>
  <p-confirmPopup></p-confirmPopup>
  <p-table #idY [value]="ytbVideos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    paginatorPosition="bottom" [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Page {currentPage} sur {totalPages}, Affiche vidéo {first} à {last}"
    [rowsPerPageOptions]="[10, 20, 50]"      (onPage)="onPageChange($event)" [first]="first" 
    [globalFilterFields]="['id', 'ordreAffichage', 'commentaire', 'dateDebut', 'dateFin', 'urlVideo']">
    <ng-template pTemplate="caption" [scrollable]="true" scrollHeight="70vh">
      <div class="flex">
        <div>
          <p-button label="Rafraîchir la liste" class="mr-2" styleClass="p-button-raised p-button-text"
            icon="pi pi-refresh"></p-button>
          <p-button (onClick)="create()" label="Créer un lien vidéo" styleClass="p-button-raised p-button-text"
            icon="pi pi-plus-circle"></p-button>
          </div>
          <input class="p-input-icon-left ml-auto" pInputText type="search" (input)="idY.filterGlobal($any($event.target).value, 'contains')"
             placeholder="Recherche" 
             [(ngModel)]="storedSearchValue" (change)="onSearchChange($event)"/>        
      </div> 
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="ordreAffichage">Ordre affichage<p-sortIcon field="ordreAffichage"></p-sortIcon></th>
        <th pSortableColumn="dateDebut">Date de début d'affichage<p-sortIcon field="dateDebut"></p-sortIcon></th>
        <th pSortableColumn="dateFin">Date de fin d'affichage<p-sortIcon field="dateFin"></p-sortIcon></th>
        <th pSortableColumn="urlVideo">Lien Youtube<p-sortIcon field="urlVideo"></p-sortIcon></th>
        <th pSortableColumn="commentaire">Commentaire<p-sortIcon field="commentaire"></p-sortIcon></th>
        <th>Publié</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-video>
      <tr>
        <td>{{ video.id }}</td>
        <td>{{ video.ordreAffichage }}</td>
        <td>{{ video.dateDebut | date : 'dd/MM/YYYY'}}</td>
        <td>{{ video.dateFin | date : 'dd/MM/YYYY'}}</td>
        <td>{{ video.urlVideo }}</td>
        <td>{{ video.commentaire }}</td>
        <td>
          <div *ngIf="video.publie; else elseBlockDot" class="mx-auto align-items-center">
            <span class="dotGreen"></span><span style="visibility: hidden" class="masked">On</span>
          </div>
          <ng-template #elseBlockDot><span class="dotGrey"></span><span style="visibility: hidden"
              class="masked">Off</span></ng-template>
        </td>

        <td class="text-right">
            <p-button icon="pi pi-user-edit" styleClass="p-button-rounded p-button-sm p-button-info"
              (click)="edit(video)"></p-button>
        </td>
        <td>
            <p-button icon="pi pi-trash" styleClass="custom-button p-button-rounded p-button-danger"
              (click)="openConfirmationDialog(video.id)"></p-button>
          
        </td> 
      </tr>
    </ng-template>
  </p-table>
  <!--confirmation suppression -->
  <div *ngIf="showConfirmationDialog">
    <app-dialog-delete [elementLabel]="'cette vidéo Youtube'" [showConfirmationDialog]="showConfirmationDialog"
      (closeConfirmationDialog)="closeConfirmationDialog()" (delete)="delete(idToDelete)"></app-dialog-delete>