
<p-card header="Liste des Avis de Fin de Parcours" class="m-3">
    <p-table #idAP [value]="mobileAvis" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      paginatorPosition="bottom" [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Page {currentPage} sur {totalPages}, Affiche utilisateurs mobiles {first} à {last}"
      [rowsPerPageOptions]="[10, 20, 50]"      (onPage)="onPageChange($event)" [first]="first" 
       [globalFilterFields]="['id', 'questionFinParcoursId','mobileUserId', 'eventId','question', 'avis']"
       [scrollable]="true" scrollHeight="70vh">
      <ng-template pTemplate="caption">
        <div class="flex">
          <div>
            <p-button label="Rafraîchir la liste" class="mr-2" styleClass="p-button-raised p-button-text"
              icon="pi pi-refresh"></p-button>
            <p-button (onClick)="exportExcel()" label="Exporter vers Excel" styleClass="p-button-raised p-button-text"
              icon="pi pi-plus-circle"></p-button>
          </div>
          <input class="p-input-icon-left  ml-auto" type="search" pInputText
            (input)="idAP.filterGlobal($any($event.target).value, 'contains')" placeholder="Recherche"
            [(ngModel)]="storedSearchValue" (change)="onSearchChange($event)" />
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">Identifiant<p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="questionFinParcoursId">Identifiant Question<p-sortIcon field="questionFinParcoursId"></p-sortIcon></th>
            <th pSortableColumn="mobileUserId">Identifiant Utilisateur<p-sortIcon field="mobileUserId"></p-sortIcon></th>
            <th pSortableColumn="eventId">Identifiant Evenement<p-sortIcon field="eventId"></p-sortIcon></th>
            <th pSortableColumn="question">Question <p-sortIcon field="question"></p-sortIcon></th>
            <th pSortableColumn="avis">Avis <p-sortIcon field="avis"></p-sortIcon></th>
            <th pSortableColumn="date">Date <p-sortIcon field="date"></p-sortIcon></th>
            <th scope="col"></th><th scope="col"></th>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="body" let-avis>
        <tr>
            <td>{{ avis.id }}</td>
            <td>{{ avis.questionFinParcoursId }}</td>
            <td *ngIf="avis.mobileUserId; else notFusId">{{ users.get(avis.id) }}</td>
            <ng-template #notFusId><td></td></ng-template>
            <td>{{ avis.eventId }}</td>
            <td>{{ avis.question }}</td>
            <td>{{ avis.avis }}</td>
            <td>{{ avis.date | date : 'dd/MM/YYYY' }}</td>
  
            <td class="text-right">
                  <p-button icon="pi pi-eye" styleClass="p-button-rounded p-button-sm p-button-info"
                    (click)="view(avis)"></p-button>
                    </td><td>
                  <p-button  icon="pi pi-trash" styleClass="custom-button p-button-rounded p-button-danger"
                    (click)="openConfirmationDialog(avis.id)"></p-button>
            
              </td>
          </tr>

      </ng-template>
    </p-table>
</p-card>
<!--confirmation suppression -->
<div *ngIf="showConfirmationDialog">
<app-dialog-delete [elementLabel]="'cet avis de parcours'" [showConfirmationDialog]="showConfirmationDialog"
  (closeConfirmationDialog)="closeConfirmationDialog()" (delete)="delete(idToDelete)"></app-dialog-delete>
