/* event-create.component.css */
.title {
  margin-bottom: 0em;
  padding-bottom: 0em;
  padding-top: 0em;
  margin-top: 0em;
  float: left;
  /* text-align: center; */
}

.card {
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 10px;
}

h2 {
  margin-bottom: 1.5rem;
}

h3 {
  display: block;
  font-size: 1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 0.9em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 0.25em;
}

.btnStyle {
  box-sizing: border-box;
}
button {
  border-radius: 0.15rem;
}
::ng-deep .p-button {
  height: 2em;
}

::ng-deep .cdk-drag .p-picklist-item .p-ripple {
  float: left;
}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* Timeline holder */
ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
  content: ' ';
  background: #fff;
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0;
}

/* Timeline item arrow */
.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid #fff;
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
  content: ' ';
  background: #ddd;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #0059a3;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
  background: #e8cbc0;
  background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
  background: linear-gradient(to right, #e8cbc0, #636fa4);
  min-height: 100vh;
}

.text-gray {
  color: #999;
}

::ng-deep .p-picklist .p-picklist-list {
  height: 10em;
}

.published {
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 6.5px;
  border: 1px solid transparent;
  color: white;
  border-color: #4bb543;
  background-color: #4bb543;
  height: 2.4em;
  margin-top: 0.6em;
}

.notPublished {
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 6.5px;
  border: 1px solid transparent;
  color: #fff;
  border-color: gray;
  background-color: gray;
  height: 2.4em;
  margin-top: 0.6em;
}

.card {
  transition: 0.3s ease;
  margin-top: 3%;
  &:hover {
    transform: scale(1.02);
    background-color: #f7a400;
    color: white;
  }
  .picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    img {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}
.vpn-alert {
  text-align: center;
  color: lightsteelblue;
}

iframe {
  width: 100%;
  height: 15rem;
}


.img-fluid {
  max-width: 100%;
  height: auto;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

::ng-deep .p-calendar-w-btn .p-inputtext {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 36px;
}