.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
  }

  :host ::ng-deep .p-inputtext {
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    width:100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  :host ::ng-deep .p-inputtext:focus:enabled,
  :host ::ng-deep .p-inputtext:hover
  {
    box-shadow: none;
    border: 2px solid green;
  }

  .text-danger{
    color: red;
  }

  .alert-success{
    color: green;
  }