<p-card header="Liste des Acteurs" class="m-3">
  <p-toast></p-toast>
  <p-confirmPopup></p-confirmPopup>
  <p-table #dt1 [value]="acteur$ | async" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    paginatorPosition="bottom" [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Page {currentPage} sur {totalPages}, Affiche acteur {first} à {last}"
    [rowsPerPageOptions]="[5, 10, 50]"(onPage)="onPageChange($event)" [first]="first"
    [globalFilterFields]="['id', 'login', 'name', 'lastName', 'reference', 'actif', 'dateDebutValidite', 'dateFinValidite']">
    <ng-template pTemplate="caption">
      <div class="flex">
        <div>
          <p-button label="Rafraîchir la liste" class="mr-2" styleClass="p-button-raised p-button-text"
            icon="pi pi-refresh" (onClick)="reloadPage()"></p-button>
          <p-button (onClick)="createActeur()" label="Créer un utilisateur FDLV"
            styleClass="p-button-raised p-button-text" icon="pi pi-plus-circle"></p-button>
        </div>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Recherche" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col" pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
        <th scope="col" pSortableColumn="login">Login <p-sortIcon field="login"></p-sortIcon></th>
        <th scope="col" pSortableColumn="lastName">Nom <p-sortIcon field="lastName"></p-sortIcon> </th>
        <th scope="col" pSortableColumn="name">Prenom <p-sortIcon field="name"></p-sortIcon> </th>
        <th scope="col" pSortableColumn="reference">Reference <p-sortIcon field="reference"></p-sortIcon> </th>
        <th scope="col" pSortableColumn="structureId?.libelle">Structure <p-sortIcon
            field="structureId?.libelle"></p-sortIcon> </th>
        <th scope="col" pSortableColumn="forum?.libelle">Forum <p-sortIcon field="forum?.libelle"></p-sortIcon> </th>
        <th scope="col" pSortableColumn="presenceStand">Stand <p-sortIcon field="presenceStand"></p-sortIcon> </th>
        <th scope="col" pSortableColumn="dateDebutValidite">Début validité <p-sortIcon
            field="dateDebutValidite"></p-sortIcon> </th>
        <th scope="col" pSortableColumn="dateFinValidite">Fin validité <p-sortIcon field="dateFinValidite"></p-sortIcon>
        </th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-acteur>
      <tr [ngClass]="{'row-acteur' : acteur.actif === '1'}">
        <td>{{ acteur.id }}</td>
        <td>{{ acteur.login }}</td>
        <td>{{ acteur.lastName }}</td>
        <td>{{ acteur.name }}</td>
        <td>{{ acteur.reference }}</td>
        <td>{{ acteur.structureId?.libelle }}</td>
        <td>{{ acteur.forum?.libelle }}</td>
        <td>
          <p-tag icon="pi pi-exclamation-triangle" [value]="acteur.presenceStand==1?'Présent':'Absent'"
            [severity]="acteur.presenceStand==1?'success':'danger'"></p-tag>
        </td>
        <td>{{ acteur.dateDebutValidite | date : 'dd/MMM/YYYY' }}</td>
        <td>{{ acteur.dateFinValidite | date : 'dd/MMM/YYYY'}}</td>
        <td class="text-right">
          <div class="status-tags">
            <p-button class="status-tag" icon="pi pi-user-edit" styleClass="p-button-rounded p-button-sm p-button-info"
              (click)="EditActeur(acteur)"></p-button>
            <p-button class="status-tag" icon="pi pi pi-times"
              styleClass="p-button-rounded p-button-sm p-button-danger" (click)="onConfirmDelete($event, acteur.id)"></p-button>
            <p-button class="status-tag" (click)="onActiveDesactiverActeur(acteur.id)"
              [icon]="acteur.actif === '1'? 'pi pi-lock' : 'pi pi-lock-open' "
              [styleClass]="acteur.actif === '1'? 'p-button-rounded p-button-sm p-button-danger' : 'p-button-rounded p-button-sm p-button-success'">
            </p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
    </ng-template>
    <ng-template pTemplate="paginatorright">
    </ng-template>
  </p-table>
</p-card>