<p-card header="Liste des thèmes forum" class="m-3" [style]="{'width': '80wh', 'margin':'1rem'}">
    <p-toast></p-toast>
    <p-table #myTab [value]="forumTheme" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" paginatorPosition="bottom" [tableStyle]="{ 'min-width': '50rem' }" currentPageReportTemplate="Page {currentPage} sur {totalPages}, Affiche forum thème {first} à {last}"
        [rowsPerPageOptions]="[ 10, 20, 50]" [globalFilterFields]="['code', 'libelle']">

        <ng-template pTemplate="caption">
            <div class="flex">
                <div>
                    <p-button (click)="reloadPage()" label="Rafraîchir la liste" class="mr-2" styleClass="p-button-raised p-button-text" icon="pi pi-refresh"></p-button>
                    <p-button (click)="openAddForm()" label="Créer un thème" styleClass="p-button-raised p-button-text" icon="pi pi-plus-circle"></p-button>
                </div>
                <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="myTab.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Recherche" />
        </span>
            </div>
        </ng-template>

        <ng-template pTemplate="header" class="centered-row">
            <tr class="centered-row">
                <th class="centered-row" pSortableColumn="id">
                    <div>
                        <span>Id</span>
                        <p-sortIcon field="id" style="display: inline-block;"></p-sortIcon>
                    </div>
                </th>
                <th class="centered-row" pSortableColumn="code">
                    <div>
                        <span>Code thème</span>
                        <p-sortIcon field="code"></p-sortIcon>
                    </div>
                </th>
                <th class="centered-row" pSortableColumn="libelle">
                    <div>
                        <span>Libellé</span>
                        <p-sortIcon field="libelle"></p-sortIcon>
                    </div>
                </th>

                <th class="centered-row" pSortableColumn="commentaire">
                    <div>
                        <span>Commentaire</span>
                    </div>
                </th>
                <th class="centered-row">Action</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-theme>
            <tr>
                <td class="centered-row">{{ theme.id }}</td>
                <td class="centered-row">{{ theme.code }}</td>
                <td class="centered-row">{{ theme.libelle }}</td>
                <td class="centered-row">{{ theme.commentaire }}</td>
                <td>
                    <div class="btn-group">
                        <p-button (click)="openEditForm(theme)" icon="pi pi-pencil" styleClass="custom-button p-button-rounded p-button-info"></p-button>
                        <p-button (click)="openDeleteForm(theme)" icon="pi pi-trash" styleClass="custom-button p-button-rounded p-button-danger"></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>

<p-dialog class="custom-dialog" header="Créer un nouveau thème forum" [(visible)]="displayAddForm" [modal]="true">
    <form #AddForumTheme="ngForm" (ngSubmit)="AddForumTheme.resetForm()">
        <div class="form-row">
            <div class="form-group">
                <label for="code">Code du thème</label>
                <input type="text" pInputText id="code" name="code" ngModel required placeholder="Entrez le code du thème" />
            </div>
            <div class="form-group">
                <label for="libelle">Libellé du thème</label>
                <input type="text" pInputText id="libelle" name="libelle" ngModel required placeholder="Entrez le libellé" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="commentaire">Commentaire</label>
                <input type="text" pInputText id="commentaire" name="commentaire" ngModel placeholder="Entrez votre commentaire" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <p-message *ngIf="errormessage" severity="error" class="error-message" text="{{ title }}">{{ title }}</p-message>
            </div>
        </div>
        <div class="form-group button-container">
            <button class="element-with-margin custom-button save-button" type="submit" pButton (click)="saveForm(AddForumTheme.value)" label="Save"></button>
            <button class="element-with-margin custom-button cancel-button" type="button" pButton (click)="closeAddForm()" label="Cancel"></button>
        </div>
    </form>
</p-dialog>

<p-dialog class="custom-dialog" header="Modifier rôle acteur" [(visible)]="displayEditForm" [modal]="true" [resizable]="true">
    <form #UpdateForumTheme="ngForm" (ngSubmit)="editForm(UpdateForumTheme.value)">
        <div class="form-row">
            <div class="form-group">
                <label for="id">ID</label>
                <input type="text" pInputText id="id_editform" name="id" #id="ngModel" [(ngModel)]="datauser.id" ngModel readonly class="readonly-input" />
            </div>
            <div class="form-group">
                <label for="code">Code du thème</label>
                <input type="text" pInputText id="code_editform" name="code" #code="ngModel" [(ngModel)]="datauser.code" ngModel required placeholder="Entrez le code du thème" />
            </div>
            <div class="form-group">
                <label for="libelle">Libellé du thème</label>
                <input type="text" pInputText id="libelle_editform" name="libelle" #libelle="ngModel" [(ngModel)]="datauser.libelle" ngModel required placeholder="Entrez le libellé" />
            </div>
        </div> 
        <div class="form-row">
            <div class="form-group">
                <label for="commentaire">Commentaire</label>
                <input type="text" pInputText id="commentaire_editform" name="commentaire" #commentaire="ngModel" [(ngModel)]="datauser.commentaire" ngModel required placeholder="Entrez votre commentaire" />
            </div>
        </div>
        <div class="form-row">
            <p-message *ngIf="errormessage" severity="error" text="{{title}}">{{title}}</p-message>
        </div>    
        <div class="form-group button-container">
            <button class="element-with-margin custom-button save-button" type="submit" pButton label="Save"></button>
            <button class="element-with-margin custom-button cancel-button" type="button" pButton (click)="closeEditForm()" label="Cancel"></button>
        </div>
    </form>
</p-dialog>

<p-dialog class="custom-dialog" header="Confirmation" [(visible)]="displayDeleteForm" [modal]="true" [resizable]="true">
    <ng-template pTemplate="body">
        <div>Voulez-vous supprimer ce thème ?</div>
        <div class="form-group button-container">
            <button pButton type="button" class="button" class="element-with-margin custom-button save-button" label="Valider" (click)="deleteThemeForum()"></button>
            <button pButton type="button" class="button" class="element-with-margin custom-button cancel-button" label="Annuler" (click)="closeConfirmationDialog()"></button>
        </div>
        <div class="form-row">
            <p-message *ngIf="errormessage" severity="error" text="{{title}}">{{title}}</p-message>
        </div>
    </ng-template>
</p-dialog>